<div class="container" *ngIf="showInitializing">
    <div class="row">
        <div class="col-md col-sm">
            <p class="lead">Initializing...</p>
        </div>
    </div>
</div>
<div *ngIf="!showInitializing" class="container">
    <div class="row mb-2">
        <div class="col-9"><h3>{{filteredBooks.length}} Books</h3></div>
        <div *ngIf="!randomFiltered" class="col text-right">
            <button [hidden]="showAddBook" (click)="showNewBookForm()" title="New Book" type="button" class="btn mr-1"><i class="fa fa-plus fa-lg"></i></button>
            <button [hidden]="!showAddBook" (click)="hideNewBookForm()" title="Hide 'Add Book' form" type="button" class="btn mr-1"><i class="fa fa-minus fa-lg"></i>
            </button><button (click)="randomBook()" title="Random Book" type="button" class="btn"><i class="fa fa-random fa-lg"></i></button>
        </div>
        <div *ngIf="randomFiltered" class="col text-right"><button (click)="revertRandomBook()" title="Revert Random Book" type="button" class="btn"><i class="fa fa-mail-reply fa-lg"></i></button></div>
    </div>
    <div *ngIf="showAddBook" class="row mb-2">
        <div class="col">
            <form class="mr-3 mb-2">
                <div class="form-group">
                    <label class="mr-2" for="bookType">Book Type:</label>
                    <select class="form-control" id="bookType" name="bookType" [(ngModel)]="newBook.type_of_book">
                        <option value="N/A"></option>
                        <option *ngFor="let category of bookTypes" value="{{category.value}}">{{category.label}}</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="title">Title:</label>
                    <textarea #titleInput type="text" class="form-control" id="title" name="title" [(ngModel)]="newBook.title"></textarea>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="desc">Subtitle:</label>
                    <textarea class="form-control" id="desc" name="desc" [(ngModel)]="newBook.subtitle"></textarea>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="desc">Author:</label>
                    <textarea class="form-control" id="author" name="author" [(ngModel)]="newBook.author"></textarea>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="desc">Location:</label>
                    <select class="form-control" id="location" name="location" [(ngModel)]="newBook.bookLocation">
                        <option value="N/A"></option>
                        <option *ngFor="let location of locations" value="{{location.value}}">{{location.label}}</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="desc">Shelf:</label>
                    <select class="form-control" id="shelf" name="shelf" [(ngModel)]="newBook.shelf">
                        <option *ngFor="let shelf of shelves" [ngValue]="shelf.value">{{shelf.label}}</option>
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label class="mr-2" for="desc">Position:</label>
                    <select class="form-control" id="position" name="position" [(ngModel)]="newBook.positionInRow">
                        <option *ngFor="let position of positions" [ngValue]="position.value">{{position.label}}</option>
                    </select>
                </div>
                <button [disabled]="!newBook || !newBook.title || newBook.title.trim().length === 0" type="button" (click)="addBook()" class="btn btn-primary">Add Book</button>
            </form>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <input [ngModel]="filterBook" type="text" class="form-control" placeholder="Filter Books" autofocus (keyup)="filterItems($event)">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <select [ngModel]="filterCategory" class="form-control" id="filterCategory" name="filterCategory" (change)="onFilterCategory($event)">
                <option value="NOSELECTION"></option>
                <option *ngFor="let category of bookTypes" value="{{category.value}}">{{category.label}}</option>
            </select>
        </div>
        <div class="col">
            <select [ngModel]="filterLocation" class="form-control" id="filterLocation" name="filterCategory" (change)="onFilterLocation($event)">
                <option value="NOSELECTION"></option>
                <option *ngFor="let location of locations" value="{{location.value}}">{{location.label}}</option>
            </select>
        </div>
    </div>
    <div class="card" *ngFor="let book of filteredBooks">
        <div class="card-header container-fluid">
            <div class="row">
                <div class="col-9">
                    <h5 *ngIf="!editing[book.id]">{{book.title}}</h5>
                    <textarea class="form-control" *ngIf="editing[book.id]" type="text" [(ngModel)]="editingBook.title">
                    </textarea>
                </div>
                <div class="col text-right">
                    <button *ngIf="!editing[book.id]" title="Edit Book" (click)="editBook(book)" type="button" class="btn"><i class="fa fa-edit fa-lg"></i></button>
                    <button *ngIf="!editing[book.id]" title="Add to Reading List" (click)="addToReadingList(book)" type="button" class="btn"><i class="fa fa-bookmark-o fa-lg"></i></button>
                    <button *ngIf="editing[book.id]" title="Save Changes" (click)="doSave(editingBook)" type="button" class="btn"><i class="fa fa-save fa-lg"></i></button>
                    <button *ngIf="editing[book.id]" title="Delete Book" (click)="doDelete(editingBook)" type="button" class="btn"><i class="fa fa-remove fa-lg"></i></button>
                    <button *ngIf="editing[book.id]" title="Revert Changes" (click)="revertBookChanges(editingBook)" type="button" class="btn"><i class="fa fa-mail-reply-all fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 *ngIf="!editing[book.id]" class="card-subtitle mb-2 text-muted">{{book.subtitle}}</h6>
            <textarea class="form-control" *ngIf="editing[book.id]" type="text" [(ngModel)]="editingBook.subtitle">
            </textarea>
            <p class="card-text"><strong>Author: </strong>
                <span *ngIf="!editing[book.id]">{{book.author}}</span>
                <textarea class="form-control" *ngIf="editing[book.id]" type="text" [(ngModel)]="editingBook.author">
                </textarea>
            </p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Location: </strong>
                <span *ngIf="!editing[book.id]">{{book.bookLocation}}</span>
                <select *ngIf="editing[book.id]" [(ngModel)]="editingBook.bookLocation">
                    <option value="N/A"></option>
                    <option *ngFor="let location of locations" [ngValue]="location.value">{{location.label}}</option>
                </select>
            </p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Shelf/Row: </strong>
                <span *ngIf="!editing[book.id]">{{book.shelf}}</span>
                <select *ngIf="editing[book.id]" [(ngModel)]="editingBook.shelf">
                    <option *ngFor="let shelf of shelves" [ngValue]="shelf.value">{{shelf.label}}</option>
                </select>
            </p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Position in Row: </strong>
                <span *ngIf="!editing[book.id]">{{book.positionInRow}}</span>
                <select *ngIf="editing[book.id]" [(ngModel)]="editingBook.positionInRow">
                    <option *ngFor="let position of positions" [ngValue]="position.value">{{position.label}}</option>
                </select>
            </p>
            <p class="card-text"><strong>Book Type: </strong>
                <span *ngIf="!editing[book.id]">{{book.type_of_book}}</span>
                <select *ngIf="editing[book.id]" [(ngModel)]="editingBook.type_of_book">
                    <option *ngFor="let bookType of bookTypes" [ngValue]="bookType.value">{{bookType.label}}</option>
                </select>
            </p>
        </div>
    </div>
</div>