<div class="container" *ngIf="showInitializing">
    <div class="row">
        <div class="col-md col-sm">
            <p class="lead">Initializing...</p>
        </div>
    </div>
</div>
<div *ngIf="!showInitializing" class="container">
    <h3>{{filteredBooks.length}} Books in Library</h3>
    <div class="row mb-2">
        <div class="col">
            <input [(ngModel)]="filterBook" type="text" class="form-control" placeholder="Filter Books" autofocus (keyup)="filterItems($event)">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <select [(ngModel)]="filterCategory" class="form-control" id="filterCategory" name="filterCategory" (change)="onFilterCategory($event)">
                <option value="NOSELECTION"></option>
                <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
            </select>
        </div>
        <div class="col">
            <select [(ngModel)]="filterLocation" class="form-control" id="filterLocation" name="filterCategory" (change)="onFilterLocation($event)">
                <option value="NOSELECTION"></option>
                <option *ngFor="let location of locations" value="{{location}}">{{location}}</option>
            </select>
        </div>
    </div>
    <div class="card" *ngFor="let book of filteredBooks">
        <div class="card-header container-fluid">
            <div class="row">
                <div class="col-9">
                    <h5>{{book.title}}</h5>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn"><i class="fa fa-edit fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 *ngIf="book.subtitle !== 'N/A'" class="card-subtitle mb-2 text-muted">{{book.subtitle}}</h6>
            <p class="card-text"><strong>Author: </strong>{{book.author}}</p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Location: </strong>{{book.bookLocation}}</p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Shelf/Row: </strong>{{book.shelf}}</p>
            <p *ngIf="book.type_of_book !== 'KINDLE'" class="card-text"><strong>Position in Row: </strong>{{book.positionInRow}}</p>
            <p class="card-text"><strong>Book Type: </strong>{{book.type_of_book}}</p>
        </div>
    </div>
</div>