<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler" (click)="toggleExpanded()" [attr.aria-expanded]="!isCollapsed" type="button"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mx-auto">
            <li [hidden]="currentRoute === '/' || currentRoute === ''" class="nav-item">
                <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['main']"><i class="mr-2 fa fa-film"></i> Main</a>
            </li>
            <li [hidden]="currentRoute === '/readingList' || currentRoute === 'readingList'" class="nav-item">
                <a class="nav-link" (click)="toggleExpanded()" [routerLink]="['readingList']"><i class="mr-2 fa fa-list"></i> Reading List</a>
            </li>
        </ul>
    </div>
</nav>