<div class="container" *ngIf="showInitializing">
    <div class="row">
        <div class="col-md col-sm">
            <p class="lead">Initializing...</p>
        </div>
    </div>
</div>
<div *ngIf="readingList && readingList.length" class="container">
    <h3>Current Reading List</h3>
    <div *ngFor="let readingItem of readingList" class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3>{{readingItem.title}}</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{readingItem.subtitle}}</h6>
            <p class="card-text"><strong>Author: </strong>
                <span>{{readingItem.author}}</span>
            </p>
            <p *ngIf="readingItem.type_of_book !== 'KINDLE'" class="card-text"><strong>Location: </strong>
                <span >{{readingItem.bookLocation}}</span>
            </p>
            <p *ngIf="readingItem.type_of_book !== 'KINDLE'" class="card-text"><strong>Shelf/Row: </strong>
                <span>{{readingItem.shelf}}</span>
            </p>
            <p *ngIf="readingItem.type_of_book !== 'KINDLE'" class="card-text"><strong>Position in Row: </strong>
                <span>{{readingItem.positionInRow}}</span>
            </p>
            <p class="card-text"><strong>Book Type: </strong>
                <span>{{readingItem.type_of_book}}</span>
            </p>
        </div>
        <div *ngIf="readingDataByBookId && readingDataByBookId[readingItem.id]  && readingDataByBookId[readingItem.id].length" class="card-body">
            <p class="card-text"><strong>Started Date: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].readStartDate}}</p>
            <p class="card-text"><strong>End Date: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].readEndDate}}</p>
            <p class="card-text"><strong>Last Page Read: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].lastReadPage}}</p>
            <p class="card-text"><strong>Pages Read: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].pagesRead}}</p>
            <p><a href="#" class="card-link">More...</a></p>
        </div>
    </div>
</div>
