<div class="container" *ngIf="showInitializing">
    <div class="row">
        <div class="col-md col-sm">
            <p class="lead">Initializing...</p>
        </div>
    </div>
</div>
<div *ngIf="readingList && readingList.length" class="container">
    <h3>Current Reading List</h3>
    <div *ngFor="let readingItem of readingList" class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3>{{readingItem.title}}</h3>
                </div>
            </div>
        </div>
        <div *ngIf="readingDataByBookId && readingDataByBookId[readingItem.id]  && readingDataByBookId[readingItem.id].length" class="card-body">
            <p class="card-text"><strong>Started Date: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].readStartDate}}</p>
            <p class="card-text"><strong>End Date: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].readEndDate}}</p>
            <p class="card-text"><strong>Last Page Read: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].lastReadPage}}</p>
            <p class="card-text"><strong>Pages Read: </strong>{{readingDataByBookId[readingItem.id][readingDataByBookId[readingItem.id].length - 1].pagesRead}}</p>
            <p><a href="#" class="card-link">More...</a></p>
        </div>
    </div>
</div>
