<div class="container">
    <h3>Current Reading List</h3>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3>Book Title</h3>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn"><i class="fa fa-edit fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Started Date: </strong>Jan 1, 2021</p>
            <p class="card-text"><strong>Last Read Date: </strong>Jan 1, 2021</p>
            <p class="card-text"><strong>Last Page Read: </strong>30</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <h3>2nd Book Title</h3>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn"><i class="fa fa-edit fa-lg"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Started Date: </strong>Jan 1, 2021</p>
            <p class="card-text"><strong>Last Read Date: </strong>Jan 1, 2021</p>
            <p class="card-text"><strong>Last Page Read: </strong>20</p>
        </div>
    </div>
</div>
